<section class="commentbox">
  <div id="giscus" class="giscus"></div>
  <script
    src="https://giscus.app/client.js"
    data-repo="vipinmadhaan/vipinmadhaan.github.io"
    data-repo-id="R_kgDOIEg6Uw"
    data-category="Show and tell"
    data-category-id="DIC_kwDOIEg6U84CRuX6"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>
