<style>
  .form-container .form-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    max-width: none;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(204, 204, 204);
    position: relative;
  }
  .follow-h5 {
    text-transform: none;
    font-weight: 400;
    color: rgb(68, 68, 68);
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .email-input {
    line-height: 20px;
    text-transform: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: rgb(48, 48, 48);
    font-size: 14px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #abb0b2;
    border-radius: 3px;
  }
  .email-submit {
    text-transform: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    background-color: rgb(61, 97, 253);
  }
  .preview-input-field input::placeholder {
    color: rgb(90, 90, 90);
    opacity: 1;
  }
  .preview-submit-button {
    margin-top: 10px;
    width: 100%;
  }
  .preview-submit-button button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    line-height: 0px;
  }
  .preview-submit-button button:hover {
    cursor: pointer;
  }
  .powered-by-line {
    color: #231f20;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .powered-by-line img {
    margin-left: 10px;
    height: 1.13em;
    max-height: 1.13em;
  }
</style>
<div class="form-container">
  <form action="https://api.follow.it/subscribe?pub=THl8mHgcavUdEveE5G_gW70DbjtVxlC9" method="post" target="_blank">
    <div class="form-preview">
      <div class="preview-heading">
        <label><h5 class="follow-h5">Sign up to get blog posts directly in your email box</h5></label>
      </div>
      <div class="preview-input-field">
        <input type="email" name="email" required="required" placeholder="E-mail Address" class="email-input" />
      </div>
      <div class="preview-submit-button">
        <button type="submit" class="email-submit">Subscribe</button>
      </div>
    </div>
  </form>
  <a href="https://follow.it/s/tfEy" class="powered-by-line">
    Powered by <img src="https://follow.it/static/img/colored-logo.svg" alt="follow.it" height="17px" />
  </a>
</div>
