<style>
  .form-container .form-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    max-width: none;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(204, 204, 204);
    position: relative;
  }
  .follow-h5 {
    text-transform: none;
    font-weight: 400;
    color: rgb(68, 68, 68);
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .email-input {
    line-height: 20px;
    text-transform: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: rgb(48, 48, 48);
    font-size: 14px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  .email-submit {
    text-transform: none !important;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    background-color: rgb(61, 97, 253);
  }
  .preview-input-field input::placeholder {
    color: rgb(90, 90, 90);
    opacity: 1;
  }
  .preview-submit-button {
    margin-top: 10px;
    width: 100%;
  }
  .preview-submit-button button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    line-height: 0px;
  }
  .preview-submit-button button:hover {
    cursor: pointer !important;
  }
</style>
<div class="form-container">
  <form
    action="https://api.follow.it/subscription-form/eWNjQVNlclB3dGVneWNIc1lHVjUrSVNjVjBobUk3VlFOeFVjNzFpcUU0Y01kLzJtUEtuVlpnNllNRTJCOXJGUlZiMFJOa2o2L21FRHo3T2ZNZVoxKzVCRFcwOHA1WUtpYm9QZ2FyNXZ1QklnWXMrQWJlY1owQ2NGTUJyWTlxMkd8VGhmQTNDTHVwNVBudVZ3UmZoanlGVDRCN280SmlQSUt4cFNpR1FPelNYVT0=/8"
    method="post">
    <div class="form-preview">
      <div class="preview-heading">
        <label><h5 class="follow-h5">Sign up to get blog posts directly in your email box</h5></label>
      </div>
      <div class="preview-input-field">
        <input type="email" name="email" required="required" placeholder="E-mail Address" class="email-input" />
      </div>
      <div class="preview-submit-button">
        <button type="submit" class="email-submit">Subscribe</button>
      </div>
    </div>
  </form>
</div>
