/* stylesheet in the old css fashion */

@media only screen and (min-width: 768px) {
  .stickyshare {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 15px;
  }
  .stickyshare .share-text {
    display: inline-block;
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #333;
  }
  .stickyshare div {
    margin: 10px 5px;
    display: block;
  }
  .stickyshare img {
    cursor: pointer;
  }
  .thumb {
    object-fit: cover;
    height: 309px;
    height: 230px;
    width: 100%;
    object-position: top;
  }
}
.bg-dark {
  background-color: #212529 !important;
}
a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #0a0c0d !important;
}
